.container {
  display: flex;
  flex-grow: row;
  gap: 2em;
}

.left-sidebar {
  width: 25%;
  background-color: #f2f2f2;
  border-right: 1px solid #ccc;
}

.main-content {
  width: 75%;
  height: 100vh;
}

@media (min-width: 768px) {

}