<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body class="home-template" itemscope itemtype="http://schema.org/WebPage">

  <div id="layout" class="pure-g">
    {% include left_sidebar.html %}
    <div class="content pure-u-1 pure-u-md-3-4">
      <!-- A single blog post -->
    	<section class="post">
    		<header class="post-header">
    			<div class="date">
    				<time datetime="{{ page.date | date_to_xmlschema }}"><span class="day">{{ page.date | date: "%d" }}</span> <span class="month-year">{{ page.date | date: "%B %Y" }}</span></time>
    			</div>

    			<h2>
    				<a href="{{ site.url }}{{ post.url }}">
    						{{ page.title }}
    				</a>
    			</h2>
    			<p class="post-meta">
    				{% for tag in page.categories %}<a class="post-category post-category-pure" href="#" title="Other posts from the {{ tag | capitalize }} category">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}
    			</p>
    		</header>

    			<div class="post-description">
    				{{ content }}
    			</div>
    	</section>


      {% if site.share %}<div class="cf"></div>{% include share.html %}{% endif %}
      <div class="cf"></div>
      {% if site.disqus_shortname and page.comments == true %}
        <section class="notepad-disqus row">
          <div class="small-12 columns">
            <h1 class="notepad-comments-header">Comments</h1>
            <div id="disqus_thread"></div>
            {% include disqus_comments.html %}
          </div>
        </section>
      {% endif %}
  </div>
</div>

{% include scripts.html %}
</body>
</html>
